<div class="jumbotron text-center">
    <div class="visible-md visible-sm visible-lg">
        <h1 data-toggle="collapse">Brew Matic 3000</h1>
        <p>
            Automating brewing tasks with <span class="text-danger">precision</span> since 2016.
        </p>
    </div>
    <div class="row">
        <div class="col-md-5 jumbotron text-center" style="background: #fff !important; border: 1px solid #aaa;">
            <h2>Mash</h2>
            <p style="white-space: nowrap">
                <label>Temp: </label>
                <span class="text-danger">{{lastLog.temp1 | number:2}}</span> ºC
            </p>
            <p style="white-space: nowrap">
                <label>Target:</label> <input type="number" step="0.1" ng-model="targetTemperature.target1" min="0" max="100"
                                              style="width: 60px"/> ºC
            </p>

            <div decimal-changer ng-model="targetTemperature.target1" min="0" max="100"></div>

            <h3>
                <label>Heater:</label>
                <span class="label label-danger">
                    {{lastLog.heater1Percentage | number:0}}  %
                </span>
            </h3>

        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 jumbotron text-center" style="background: #fff !important; border: 1px solid #aaa;">
            <h2>Sparge</h2>
            <p style="white-space: nowrap">
                <label>Temp: </label>
                <span class="text-danger">{{lastLog.temp2  | number:2}}</span> ºC
            </p>
            <p style="white-space: nowrap">
                <label>Target:</label> <input type="number" step="0.1" ng-model="targetTemperature.target2" min="0" max="100"
                                              style="width: 60px"/> ºC
            </p>
            <div decimal-changer ng-model="targetTemperature.target2" min="0" max="100"></div>
            <h3>
                <label>Heater:</label>
                <span class="label label-danger">
                    {{lastLog.heater2Percentage | number:0}}  %
                </span>
            </h3>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">{{lastLog.timeStamp | date: 'medium'}}</p>
    </div>
</footer>
