<h1>Brew "{{brew.setup.name}}"</h1>
<div class="row top-buffer">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4">
                <fieldset>
                    <legend>Temperatures</legend>
                    <p><label class="col-sm-7 control-label">Mash temp:</label>{{brew.setup.mashTemp}}ºC</p>
                    <p><label class="col-sm-7 control-label">Strike temp:</label>{{brew.setup.strikeTemp}}ºC</p>
                    <p><label class="col-sm-7 control-label">Sparge temp:</label>{{brew.setup.spargeTemp}}ºC</p>
                    <p><label class="col-sm-7 control-label">Mash out temp:</label>{{brew.setup.mashOutTemp}}ºC</p>
                </fieldset>
            </div>
            <div class="col-md-4">
                <fieldset>
                    <legend>Times</legend>
                    <p><label class="col-sm-7 control-label">Mash time:</label> {{brew.setup.mashTimeInMinutes}}min</p>
                    <p><label class="col-sm-7 control-label">Boil time:</label> {{brew.setup.boilTimeInMinutes}}min</p>
                </fieldset>
            </div>
            <div class="col-md-4">
                <fieldset ng-if="brew.currentStep.completeButtonText">
                    <legend>Step time</legend>
                    <h1>{{stepTime | date: 'HH:mm.ss'}}</h1>
                </fieldset>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-6">
                <fieldset>
                    <legend>Current step "{{brew.currentStep.name}}"</legend>
                    <p><label class="col-sm-6 control-label">Start time: </label><span class="label label-info">{{brew.currentStep.startTime | date: 'medium'}}</span></p>
                    <p><label class="col-sm-6 control-label">Target Mash temp:</label><span class="label label-warning">{{brew.currentStep.getTargetMashTemp | number: 2}}</span></p>
                    <p><label class="col-sm-6 control-label">Target Sparge temp:</label><span class="label label-warning">{{brew.currentStep.getTargetSpargeTemp | number: 2}}</span></p>
                </fieldset>
            </div>
            <div class="col-md-2">
                <fieldset ng-if="brew.currentStep.completeButtonText">
                    <legend>Actions</legend>
                    <div>
                        <button class="btn btn-danger" ng-if="brew.currentStep.order>1" ng-click="goBackOneStep()">Abort this step</button>
                        <button class="btn btn-primary" ng-click="goToNextStep()">{{brew.currentStep.completeButtonText}}</button>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-4" ng-if="countDown">
                <fieldset>
                    <legend>Remaining time</legend>
                    <h1>{{countDown | date: 'HH:mm.ss'}}</h1>
                </fieldset>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12">
                <fieldset>
                    <legend>Instructions for "{{brew.currentStep.name}}"</legend>
                    <div class="alert alert-info">
<span ng-bind-html="brew.currentStep.instructions | splitInLines" />
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <fieldset ng-if="brewHistory">
            <legend>History</legend>
            <table class="table table-condensed table-striped">
                <tr>
                    <th>Step</th>
                    <th>Duration</th>
                </tr>
                <tr ng-repeat="log in brewHistory">
                    <td>
                        {{log.name}}
                    </td>
                    <td>
                        {{log.timeUsed}}
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>