<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" ng-click="changeTarget(-5)">-5</button>
    <button type="button" class="btn btn-default" ng-click="changeTarget(-1)">-1</button>
    <button type="button" class="btn btn-default" ng-click="changeTarget(-0.1)">-0.1</button>
    <button type="button" class="btn btn-default" ng-click="changeTarget(0.1)">+0.1</button>
    <button type="button" class="btn btn-default" ng-click="changeTarget(1)">+1</button>
    <button type="button" class="btn btn-default" ng-click="changeTarget(5)">+5</button>
</div>